<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="First.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Homemade+Apple&family=Pontano+Sans&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Homemade+Apple&family=Varela+Round&display=swap"
        rel="stylesheet">
    <title>Anime Art Factory</title>
</head>

<body>
    <header>
        <ul id="Navbar">

            <li><a href="index.html" target="_blank">Home</a></li>
            <li><a href="#request" target="_blank">Request art</a></li>
            <li><a href="#aboutme">About</a></li>
            <li><a href="form.html" target="_blank">Register</a></li>

        </ul>
    </header>
    <hr>






    <div class="header">

        <!--Content before waves-->
        <div class="inner-header flex">

            <h1>Anime Art</h1>
        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!--Waves end-->

    </div>
    <!--Header ends-->

    <!--Content starts-->
    <div class="content flex">
        <p>By JassieK</p>
    </div>









    <ul id="work">Work collection
        <li>Anime/Manga fanart</li>
        <li>Anime glass painting</li>
        <li>Anime themed customized phone covers</li>
    </ul>
    <hr>
    <section>
        <h2 id="arth">Artworks</h2>
        <p class="narutop">Team 7 was a Konohagakure team formed under the leadership of Kakashi Hatake. Two-and-a-half
            years after
            Sasuke Uchiha left the village, Kakashi filled out paperwork to form Team Kakashi, with his former pupils
            Naruto Uzumaki and Sakura Haruno now being treated as equals alongside their teacher. Following Yamato and
            Sai joining the team, the group went by Team Yamato during the former's leadership.</p>
        <img src="Naruto.jpg" alt="Naruto" style="width:50%" class="naruto">
        <hr>
        <p class="narutop">Personality. Hisoka is portrayed as entirely self-serving, self-absorbed, and selfish; he
            does
            whatever he likes as long as it pleases him in some way. His insatiable love for spilling the blood of
            powerful fighters in combat and his enjoyment of extreme pain while doing so fuels his seemingly
            sadomasochistic desires.</p>
        <img src="hisoka.jpg" alt="Hisoka" style="width:50%" class="naruto">
        <hr>
        <p class="narutop">All you need is love. Anime inspired couple . Do you want a anime drawing of you and your
            love
            too? You can request art and mail me a picture of yours you wanted to be drawn as anime art.</p>
        <img src="couple.jpg" alt="Couple" style="width:50%" class="naruto">
        <hr>
        <p class="narutop">Give up on your dreams and die.Levi has short, straight black hair styled in an undercut
            curtain, as well as narrow, intimidating dull gray eyes with dark circles under them and a deceptively
            youthful face. He is quite short, but his physique is well-developed in musculature from extensive vertical
            maneuvering equipment usage. He is usually either frowning or expressionless; that, plus his extremely calm
            demeanor, often makes it difficult for others to guess what he is thinking.</p>
        <img src="levi.jpg" alt="Levi" style="width:50%" class="naruto">
        <hr>
        <p class="narutop">sukino Usagi, renamed "Serena Tsukino" or "Bunny Tsukino" in some foreign adaptations),
            better known as Sailor Moon (セーラームーン, Sērā Mūn), is a fictional superheroine who is the main protagonist and
            title character of the Sailor Moon manga series written by Naoko Takeuchi. She is introduced in chapter #1,
            "Usagi – Sailor Moon" (originally published in Japan's Nakayoshi magazine on December 28, 1991), as a
            carefree schoolgirl who can transform into Sailor Moon. Initially believing herself to be an ordinary girl,
            she is later revealed to be the reincarnated form of the Princess of the Moon Kingdom, and she subsequently
            discovers her original name, Princess Serenity .</p>
        <img src="sailor.jpg" alt="Sailor moon" style="width:50%" class="naruto">
        <hr>


    </section>

    <section id="app">
        <h3><a name="request">Request art over here </a></h3>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="comment">
                        <p v-for="items in item" v-text="items"></p>
                    </div>
                    <!--End Comment-->
                </div>
                <!--End col -->
            </div><!-- End row -->
            <div class="row">
                <div class="col-6">
                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                        @keyup.enter="addItem()"></textarea>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add
                        Comment</button>
                </div><!-- End col -->
            </div>
            <!--End Row -->
        </div>
        <!--End Container -->
    </section><!-- end App -->
    <hr>

    <footer>

        <h2 id="abt"><a name="aboutme">About</a></h2>
        <img src="Two-696.jpg" style="width:18%" id="mine">

        <p class="abtp">Just me ,myself and I exploring the world of art!!!<br>
            Hi, I'am Jasmit Kaur , I love painting and expressing my ideas and things I like on paper using colours and
            brushes. I'am a self taught artist, I love watching anime and read manga , so I try drawing characters from
            Anime and Manga.<br>I do paper art, Glass art , Customized Cases for phones. Here I'll be posting some of my
            work as templates. Soon I'll start selling my art work and you can also request an art or an artwork for
            your
            Favorite character. </p>
        <p class="abtp">Do not hesitate to contact me!<br> G-mail jasmitkaurjassi762@gmail.com</p>

        <br>
        <div class="footer">
            copyright &copy; JassieK 2021. All Rights Reserved
        </div>
    </footer>


</body>

</html>